<launch>

<arg name="delay" default="0.5"/>

<node pkg="rover_23_control" type="joy_publisher_moteus.py" name="serial" output="screen"/>
<node pkg="rover_23_control" type="moteus_controller_rover.py" name="led" output="screen"/>

<node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find rover_23_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="/cmd_vel"/>
</node> 


</launch>

