<launch>

  <rosparam command="load" file="$(find imu_gps_ekf)/params/navsat_params.yaml" />


  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen" >
      <remap from="odometry/filtered" to="liorf/mapping/gps_odom"/>  
      <remap from="gps/fix" to="ublox/fix"/>
      <remap from="imu/data" to="imu/data"/>     
  </node>

</launch> 